<!DOCTYPE html>
<html>
  <head>
    <title>PigLatin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="max-h-screen flex flex-col m-0 p-0 bg-pink">
    <main class="flex-1">
      <%= yield %>
    </main>
  </body>
</html>
